---
import ButtonMenu from './ButtonMenu.astro';
---

<div class="mb-4">
  <h4 class="text-2xl text-center font-bold uppercase">
    Multimedia about the topic
  </h4>
  <span class="bg-white/10 my-2 h-1 w-1/2 mx-auto rounded-full flex"></span>
  <div class="flex gap-7 mt-5 px-5 py-4 rounded-lg shadow-lg shadow-black/10">
    <ButtonMenu id="1" title="Presentation about the comuna 13" />
    <ButtonMenu id="2" title="Audio about topics" />
    <ButtonMenu id="3" title="Interview" />
  </div>
</div>
